@charset "UTF-8";
/**
* Colores
*/
/* line 3, ../sass/_globals.scss */
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666;
}
/* line 9, ../sass/_globals.scss */
a.button.add {
  color: #FFF;
  background-color: #039BE5;
  box-shadow: 0px 1px 2px 0px #999;
}
/* line 17, ../sass/_globals.scss */
a.button.edit {
  color: #4CAF50;
}
/* line 20, ../sass/_globals.scss */
a.button.delete {
  color: #e53935;
}
/* line 23, ../sass/_globals.scss */
a.button.square {
  padding: 8px 15px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 29, ../sass/_globals.scss */
a.button.square .material-icons {
  font-size: 18px;
  margin: 0px 6px 0px 0px;
}
/* line 34, ../sass/_globals.scss */
a.button.circle {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
/* line 38, ../sass/_globals.scss */
a.button.circle:focus {
  background-color: #EEE;
}
/* line 41, ../sass/_globals.scss */
a.button.circle .material-icons {
  font-size: 18px;
}

/* line 47, ../sass/_globals.scss */
input[type="text"] {
  height: 32px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #DDD;
  border-left: none;
  font-family: "Roboto", sans-serif;
}
/* line 54, ../sass/_globals.scss */
input[type="text"]:focus {
  border-bottom: 1px solid #000;
  outline: none;
}

/* line 60, ../sass/_globals.scss */
.tabs {
  display: flex;
}
/* line 62, ../sass/_globals.scss */
.tabs a {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
/* line 67, ../sass/_globals.scss */
.tabs a.active {
  color: #1565C0;
  border-bottom: 2px solid #1565C0;
}

/* line 74, ../sass/_globals.scss */
.table {
  display: flex;
  flex-wrap: wrap;
}
/* line 78, ../sass/_globals.scss */
.table.striped .row:nth-child(odd) {
  background-color: #F2F2F2;
}
/* line 82, ../sass/_globals.scss */
.table .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 87, ../sass/_globals.scss */
.table .cell {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

/* line 99, ../sass/_globals.scss */
.pager ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 105, ../sass/_globals.scss */
.pager li {
  display: flex;
}
/* line 108, ../sass/_globals.scss */
.pager a {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0px 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #EDEDED;
  font-size: 14px;
  color: #666;
  overflow: hidden;
}
/* line 121, ../sass/_globals.scss */
.pager a.active {
  background-color: #1565C0;
  color: #FFF;
  border-color: #1565C0;
}
/* line 126, ../sass/_globals.scss */
.pager a:hover {
  background-color: #1565C0;
  color: #FFF;
  border-color: #1565C0;
}
/* line 132, ../sass/_globals.scss */
.pager .material-icons {
  font-size: 22px;
  margin: -1px 0px 0px 0px;
}

/* line 8, ../sass/style.scss */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #EEEEEE;
}

/**
* Contenedor principal
*/
/* line 18, ../sass/style.scss */
.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/**
* Men├║ principal
*/
/* line 27, ../sass/style.scss */
.main-menu {
  position: fixed;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 250px;
  height: 100vh;
  background-color: #474747;
}
/* line 36, ../sass/style.scss */
.main-menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}
/* line 43, ../sass/style.scss */
.main-menu .logo img {
  width: 40px;
  margin: 0px 8px 0px 0px;
}
/* line 47, ../sass/style.scss */
.main-menu .logo .name {
  font-size: 16px;
  font-weight: 500;
  color: #BDBDBD;
}
/* line 53, ../sass/style.scss */
.main-menu .user {
  position: relative;
  width: 100%;
  height: 100px;
}
/* line 57, ../sass/style.scss */
.main-menu .user .wrapper {
  position: relative;
  z-index: 5;
  padding: 15px;
}
/* line 62, ../sass/style.scss */
.main-menu .user img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px;
  border-radius: 25px;
  border: 2px solid #FFF;
  box-sizing: border-box;
}
/* line 71, ../sass/style.scss */
.main-menu .user .content {
  display: flex;
  flex-wrap: wrap;
}
/* line 75, ../sass/style.scss */
.main-menu .user .name {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  color: #EEEEEE;
}
/* line 81, ../sass/style.scss */
.main-menu .user ul.options {
  width: 100%;
  list-style: none;
  margin: 6px 0px 0px 0px;
  padding: 0;
}
/* line 87, ../sass/style.scss */
.main-menu .user li {
  color: #EEEEEE;
}
/* line 90, ../sass/style.scss */
.main-menu .user li:not(:last-child) a {
  margin: 0px 6px 0px 0px;
}
/* line 95, ../sass/style.scss */
.main-menu .user a {
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
  color: #CDDC39;
}
/* line 101, ../sass/style.scss */
.main-menu .user:before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  content: "";
  background-image: url(../img/user-wall.jpg);
  opacity: .6;
}
/* line 113, ../sass/style.scss */
.main-menu .menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 118, ../sass/style.scss */
.main-menu .menu a {
  display: flex;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #BDBDBD;
}
/* line 125, ../sass/style.scss */
.main-menu .menu a:hover {
  background-color: #323232;
  color: #EEEEEE;
}
/* line 130, ../sass/style.scss */
.main-menu .menu .material-icons {
  margin: -1px 8px 0px 0px;
  font-size: 18px;
}

/**
* Cabecera principal
*/
/* line 140, ../sass/style.scss */
.main-header {
  position: fixed;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 50px;
  background-color: #FFF;
  box-shadow: 0px -2px 3px 5px #BDBDBD;
}
/* line 151, ../sass/style.scss */
.main-header .header-options {
  display: flex;
  align-self: stretch;
}
/* line 154, ../sass/style.scss */
.main-header .header-options a {
  display: flex;
  width: 50px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  color: #999;
  text-decoration: none;
}
/* line 163, ../sass/style.scss */
.main-header .header-options .material-icons {
  font-size: 20px;
}
/* line 167, ../sass/style.scss */
.main-header .user {
  display: flex;
  align-items: center;
  padding-right: 15px;
  text-decoration: none;
  color: #666;
}
/* line 173, ../sass/style.scss */
.main-header .user img {
  width: 30px;
  height: 30px;
  margin: 0px 6px 0px 0px;
  border: 2px solid #DDD;
  border-radius: 15px;
  box-sizing: border-box;
}
/* line 181, ../sass/style.scss */
.main-header .user span.name {
  font-size: 13px;
}

/**
* Contenido principal
*/
/* line 190, ../sass/style.scss */
.main-content {
  display: flex;
  align-content: flex-start;
  width: calc(100% - 250px);
  margin-left: 250px;
  flex-wrap: wrap;
  padding-top: 50px;
}

/**
* Contenedor ajax
*/
/* line 202, ../sass/style.scss */
.ajax-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 12px;
}

/**
* Contenedor interno ajax
*/
/* line 212, ../sass/style.scss */
.view-wrapper {
  width: 100%;
  background-color: #FFF;
}

/* line 216, ../sass/style.scss */
.view-header {
  padding: 12px 12px 0px 12px;
  background-color: #FFF;
  color: #666;
  border-bottom: 1px solid #F2F2F2;
}
/* line 221, ../sass/style.scss */
.view-header .title {
  display: flex;
  align-items: center;
  margin: 5px 0px 15px 0px;
}
/* line 225, ../sass/style.scss */
.view-header .title .material-icons {
  margin: 0px 6px 0px 0px;
}
/* line 228, ../sass/style.scss */
.view-header .title h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
/* line 235, ../sass/style.scss */
.view-header .tabs a {
  font-size: 13px;
  text-transform: uppercase;
}
/* line 238, ../sass/style.scss */
.view-header .tabs a:not(.active) {
  color: #666;
}
/* line 240, ../sass/style.scss */
.view-header .tabs a:not(.active):hover {
  color: #000;
}
/* line 245, ../sass/style.scss */
.view-header .tabs .material-icons {
  font-size: 20px;
  margin: -2px 4px 0px 0px;
}

/* line 251, ../sass/style.scss */
.options {
  display: flex;
  padding: 12px 12px 0px 12px;
}
/* line 254, ../sass/style.scss */
.options .actions {
  display: flex;
  flex-grow: 2;
  align-items: center;
}
/* line 259, ../sass/style.scss */
.options .search {
  display: flex;
  flex-grow: 1;
}
/* line 262, ../sass/style.scss */
.options .search > input[type="text"] {
  width: 40%;
}

/* line 267, ../sass/style.scss */
.data {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}
/* line 271, ../sass/style.scss */
.data .table {
  width: 100%;
}
/* line 273, ../sass/style.scss */
.data .table .cell {
  min-height: 40px;
}
/* line 277, ../sass/style.scss */
.data .actions {
  flex-grow: 0;
}
/* line 280, ../sass/style.scss */
.data .pager {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0px;
}

@media screen and (max-width: 1024px) {
  /* line 2, ../sass/_layouts.scss */
  .main-menu {
    display: none;
  }

  /* line 6, ../sass/_layouts.scss */
  .main-header {
    width: 100%;
    margin: 0;
  }

  /* line 11, ../sass/_layouts.scss */
  .main-content {
    width: 100%;
    margin: 0;
  }
}
