@import "parameters";

a.button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #666;
	&.add{
		color: #FFF;
		background-color: $color-add;
		box-shadow: 0px 1px 2px 0px #999;
		&:focus{
			// background-color: #EEE;
		}
	}
	&.edit{
		color: $color-edit;
	}
	&.delete{
		color: $color-delete;
	}
	&.square{
		padding: 8px 15px;
		font-size: 12px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		.material-icons{
			font-size: 18px;
			margin: 0px 6px 0px 0px;
		}
	}
	&.circle{
		width: 36px;
		height: 36px;
		border-radius: 18px;
		&:focus{
			background-color: #EEE;
		}
		.material-icons{
			font-size: 18px;
		}
	}
}

input[type="text"]{
	height: 32px;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #DDD;
	border-left: none;
	font-family: $font-1;
	&:focus{
		border-bottom: 1px solid #000;
		outline: none;
	}
}

.tabs{
	display: flex;
	a{
		padding: 15px 20px;
		display: flex;
		justify-content: center;
		text-decoration: none;
		&.active{
			color: $color-primary-1;
			border-bottom: 2px solid $color-primary-1;
		}
	}
}

.table{
	display: flex;
	flex-wrap: wrap;
	&.striped{
		.row:nth-child(odd){
			background-color: #F2F2F2;
		}
	}
	.row{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.cell{
		display: flex;
		flex-grow: 1;
		align-items: center;
		padding: 5px 10px;
		font-size: 13px;
		font-weight: 400;
		color: #666;
	}
}

.pager{
	ul{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		display: flex;
	}
	a{
		display: flex;
		width: 30px;
		height: 30px;
		margin: 0px 2px;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		border: 1px solid #EDEDED;
		font-size: 14px;
		color: #666;
		overflow: hidden;
		&.active{
			background-color: $color-primary-1;
			color: #FFF;
			border-color: $color-primary-1;
		}
		&:hover{
			background-color: $color-primary-1;
			color: #FFF;
			border-color: $color-primary-1;
		}
	}
	.material-icons{
		font-size: 22px;
		margin: -1px 0px 0px 0px;
	}
}