$font-1: 'Roboto', sans-serif;
$line-color: #F2F2F2;
$menu-width: 250px;
$space: 12px;
$height-header: 50px;

/**
* Colores
*/
$color-primary-1: #1565C0;
$color-primary-2: #CDDC39;

$color-add: #039BE5;
$color-edit: #4CAF50;
$color-delete: #e53935;