// Screen
// ======

// @import "grids";
@import "parameters";
@import "globals";

body{
	margin: 0;
	font-family: $font-1;
	letter-spacing: 1px;
	background-color: #EEEEEE;
}

/**
* Contenedor principal
*/
.main-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/**
* Menú principal
*/
.main-menu{
	position: fixed;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: $menu-width;
	height: 100vh;
	background-color: #474747;
	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 20px 0px;
		text-align: center;
		img{
			width: 40px;
			margin: 0px 8px 0px 0px;
		}
		.name{
			font-size: 16px;
			font-weight: 500;
			color: #BDBDBD;
		}
	}
	.user{
		position: relative;
		width: 100%;
		height: 100px;
		.wrapper{
			position: relative;
			z-index: 5;
			padding: 15px;
		}
		img{
			float: left;
			width: 50px;
			height: 50px;
			margin: 0px 10px 0px 0px;
			border-radius: 25px;
			border: 2px solid #FFF;
			box-sizing: border-box;
		}
		.content{
			display: flex;
			flex-wrap: wrap;
		}
		.name{
			flex-grow: 1;
			font-size: 14px;
			font-weight: 400;
			color: #EEEEEE;
		}
		ul.options{
			width: 100%;
			list-style: none;
			margin: 6px 0px 0px 0px;
			padding: 0;
		}
		li{
			color: #EEEEEE;
			&:not(:last-child){
				a{
					margin: 0px 6px 0px 0px;
				}
			}
		}
		a{
			font-size: 11px;
			font-weight: 500;
			text-decoration: none;
			color: $color-primary-2;
		}
		&:before{
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100px;
			content: "";
			background-image: url(../img/user-wall.jpg);
			opacity: .6;
		}
	}
	.menu{
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		a{
			display: flex;
			padding: 15px 10px;
			text-decoration: none;
			font-size: 13px;
			font-weight: 600;
			color: #BDBDBD;
			&:hover{
				background-color: #212121 * 1.5;
				color: #EEEEEE;
			}
		}
		.material-icons{
			margin: -1px 8px 0px 0px;
			font-size: 18px;
		}
	}
}

/**
* Cabecera principal
*/
.main-header{
	position: fixed;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - #{$menu-width});
	margin-left: $menu-width;
	height: $height-header;
	background-color: #FFF;
	box-shadow: 0px -2px 3px 5px #BDBDBD;
	.header-options{
		display: flex;
		align-self: stretch;
		a{
			display: flex;
			width: 50px;
			align-items: center;
			align-self: stretch;
			justify-content: center;
			color: #999;
			text-decoration: none;
		}
		.material-icons{
			font-size: 20px;
		}
	}
	.user{
		display: flex;
		align-items: center;
		padding-right: 15px;
		text-decoration: none;
		color: #666;
		img{
			width: 30px;
			height: 30px;
			margin: 0px 6px 0px 0px;
			border: 2px solid #DDD;
			border-radius: 15px;
			box-sizing: border-box;
		}
		span.name{
			font-size: 13px;
		}
	}
}

/**
* Contenido principal
*/
.main-content{
	display: flex;
	align-content: flex-start;
	width: calc(100% - #{$menu-width});
	margin-left: $menu-width;
	flex-wrap: wrap;
	padding-top: $height-header;
}

/**
* Contenedor ajax
*/
.ajax-content{
	display: flex;
	width: 100%;
	flex-grow: 1;
	padding: $space;
}

/**
* Contenedor interno ajax
*/
.view-wrapper{
	width: 100%;
	background-color: #FFF;
}
.view-header{
	padding: $space $space 0px $space;
	background-color: #FFF;
	color: #666;
	border-bottom: 1px solid $line-color;
	.title{
		display: flex;
		align-items: center;
		margin: 5px 0px 15px 0px;
		.material-icons{
			margin: 0px 6px 0px 0px;
		}
		h1{
			margin: 0;
			font-size: 18px;
			font-weight: 400;
		}
	}
	.tabs{
		a{
			font-size: 13px;
			text-transform: uppercase;
			&:not(.active){
				color: #666;
				&:hover{
					color: #000;
				}
			}
		}
		.material-icons{
			font-size: 20px;
			margin: -2px 4px 0px 0px;
		}
	}
}
.options{
	display: flex;
	padding: $space $space 0px $space;
	.actions{
		display: flex;
		flex-grow: 2;
		align-items: center;
	}
	.search{
		display: flex;
		flex-grow: 1;
		>input[type="text"]{
			width: 40%;
		}
	}
}
.data{
	display: flex;
	flex-wrap: wrap;
	padding: $space;
	.table{
		width: 100%;
		.cell{
			min-height: 40px;
		}
	}
	.actions{
		flex-grow: 0;
	}
	.pager{
		display: flex;
		justify-content: center;
		width: 100%;
		padding: $space 0px;
	}
}

@import "layouts";